<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Socket con Flask</title>
</head>
<body>
    <h1>SocketIO con Flask</h1>
    <hr>
    <ul id="messages"></ul>
    <textarea  id="myMessage"></textarea>
    <br>
    <button type="button" id="send">Enviar Mensaje</button>
    
    
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.0/socket.io.js"></script>

        <script>
            // iniciamos el socket
            const socket = io()
            // emitimos un evento desde el frontend
            //socket.emit('message', 'Hola Mundo')
            // escuchamos lo que se envie por el evento message
            socket.on('message', function(msm) {
                // agregamos los mensajes a la lista
                $('#messages').append('<li>'+msm+'</li>')
            })
            let msm = ''
            // evento click del botón
            $('#send').on('click', function(){
                // obtenemos el valor del textarea
                msm = $('#myMessage').val()
                // enviamos el valor al backend
                socket.send(msm)
                // limpiamos el valor del textarea
                $('#myMessage').val('')
            })
        </script>

</body>
</html>